<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="http://zachbarreca.github.io">Zach</a> a developer on a mission to become employed so he doesn't starve.
  </p>
  <br />
  <p>
    He began coding around 2012 and dabbled casually before the (no doubt historic) day he joined <a target="_blank" href="http://www.thefirehoseproject.com/"> The Firehose Project</a>.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>
  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'zach.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Zach Barreca</h2>
    <br />
    <p>
      Zach Barreca is a college student, an inspired developer, and a passionate problem solver.
    </p>
  </div>
  <br class="clear" />
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
